<footer id="footer">
    <div class="container text-center">
        <div>
            Irina Plaksina. 2020
        </div>
        <div>
            Based on <strong><span>Siimple</span></strong> by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer>