<header id="header">
    <div class="container">

        <div class="logo float-left">
            <a href="/"><img src="../../img/logo.png" alt="logo picture" class="img-fluid"></a>
        </div>

        <button type="button" class="nav-toggle"><i class="bx bx-menu"></i></button>

        {{> nav}}

    </div>
</header>