{{> header}}

<main id="main">

    <div class="container">

        <h1>Add new recipe</h1>
        <h6>Please, fill out all the fields to add the new recipe to the list <br/>
            <small class="font-italic">Fields marked with an asterisk (*) are required</small>
        </h6>

        <form method="post" action="/cookbook" enctype="multipart/form-data" id="newItemForm" name="newItemForm">
            <div class="form-row">
                <div class="col-lg-3 col-md-3 col-12 form-group">
                    <label for="recipe-name">Recipe*</label>
                    <input type="text" class="form-control error" id="recipe-name" name="recipeName"
                           placeholder="Recipe's name" required/>
                    <label id="recipe-name-error" class="error text-muted" for="recipe-name">Please enter recipe's
                        name</label>
                </div>
                <div class="col-lg-3 col-md-3 col-12 form-group">
                    <label for="recipe-time">Time</label>
                    <input type="text" class="form-control error" id="recipe-time" name="recipeTime"
                           placeholder="Time"/>
                    <label id="recipe-time-error" class="error text-muted" for="recipe-time">Please enter required
                        time</label>
                </div>
                <div class="col-lg-3 col-md-3 col-12 form-group">
                    <label for="person-num">Portions</label>
                    <small class="text-muted">Up to 20</small>
                    <input type="number" class="form-control error" id="person-num" name="portions"
                           min="1" max="20"/>
                    <label id="person-num-error" class="error text-muted" for="person-num">Please enter number of
                        portions</label>
                </div>
            </div>

            <div class="form-row">
                <div class="col-12 form-group">
                    <label for="recipe-category">Category*</label>
                    <select class="custom-select error" id="recipe-category" name="recipeCategory" required>
                        <option value>Choose one of these options</option>
                        <option value="Breakfast">Breakfast</option>
                        <option value="Lunch">Lunch</option>
                        <option value="Dinner">Dinner</option>
                        <option value="Dessert">Dessert</option>
                        <option value="Salad">Salad</option>
                        <option value="Sauce">Sauce</option>
                        <option value="Drink">Drink</option>
                    </select>
                    <label id="recipe-category-error" class="error text-muted" for="person-num">Please choose
                        category</label>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <label for="utensils">Utensils</label>
                    <textarea class="form-control error" id="utensils" name="utensils"
                              rows="1" cols="200"></textarea>
                    <label id="utensils-error" class="error text-muted" for="utensils">Please enter utensils
                        list</label>
                </div>
            </div>

            <div class="form-row" id="ingredients-list">
                <h3 class="col-6">Ingredients:</h3>
                <div class="col-6 text-right">
                    <button class="btn btn-primary ml-auto" type="button" id="add-ingredient">Add Ingredient
                    </button>
                </div>

                <div class="col-12" id="ingredient-item">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12 form-group">
                            <label for="ingredient">Ingredient's name</label>
                            <select class="custom-select error" id="ingredient" name="ingredient">
                                <option value>Choose one of these options</option>
                                <option value="1">Bread</option>
                                <option value="2">Milk</option>
                                <option value="3">All-Purpose flour</option>
                                <option value="4">Butter</option>
                                <option value="5">Eggs</option>
                                <option value="6">Ham</option>
                                <option value="7">Bay Leaf</option>
                                <option value="8">Nutmeg</option>
                                <option value="9">Salt</option>
                                <option value="10">Herbs</option>
                                <option value="11">Classic Rolled Oatmeal</option>
                                <option value="12">Water</option>
                                <option value="13">Ground Cinnamon</option>
                                <option value="14">Fruits</option>
                            </select>
                            <label id="ingredient-error" class="error text-muted" for="ingredient">Please enter
                                ingredient's
                                name</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-12  form-group">
                            <label for="ingredient-qty">Quantity</label>
                            <input type="text" class="form-control error" id="ingredient-qty" name="ingredientQty"
                                   placeholder="Quantity"/>
                            <label id="ingredient-qty-error" class="error text-muted" for="ingredient">Please enter
                                ingredient's
                                quantity</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-12  form-group">
                            <label for="ingredient-unit">Unit</label>
                            <select class="custom-select error" id="ingredient-unit" name="ingredientUnit">
                                <option value>Choose one of these options</option>
                                <option value="1">cup</option>
                                <option value="2">tsp</option>
                                <option value="3">tbsp</option>
                                <option value="4">gr</option>
                                <option value="5">ml</option>
                                <option value="6">pinch</option>
                                <option value="7">handful</option>
                                <option value="8">slice</option>
                                <option value="9">ea</option>
                            </select>
                            <label id="ingredient-unit-error" class="error text-muted" for="ingredient-unit">Please
                                choose
                                measurement
                                unit</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <h3>Method:</h3>
                    <textarea class="form-control" name="method" rows="5"></textarea>
                </div>
            </div>
            <div class="form-row mx-0 my-3">
                <div class="col-12 custom-file">
                    <label for="recipeImage" class="custom-file-label">Add the picture</label>
                    <input type="file" class="custom-file-input" accept="image/*" id="recipeImage" name="recipeImage"/>
                </div>
            </div>
            <button class="btn btn-primary my-2" type="submit">Submit</button>
        </form>

    </div>

</main>

{{> footer}}