{{> header}}

<main id="main">
    <h1 class="container">Hello, {{user.username}}!</h1>

    {{#if message}}
        <div class="container alert alert-warning" role="alert">
            <h3>{{message}}</h3>
        </div>
    {{/if}}

    <section id="cookbook" class="cookbook">
        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <a href="/cookbook"><h1>CookBook <a href="/add-recipe" class="plus-circle text-decoration-none"><i
                            class="bx bx-plus-circle"></i></a></h1></a>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    {{#each type}}
                        <a href="/cookbook/{{type}}"><h3 class="button cookbook-item">{{type}}</h3></a>
                    {{/each}}
                </div>
            </div>

        </div>
    </section>

</main>

{{> footer}}